@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
:root {
  --base-font: "Albert Sans";
}
html {
  --bg-1: #fff;
  --bg-2: #e0e6eb;
  --bg-3: #c2cdd6;
  --fg-1: #212121;
  --fg-2: #4d4d4d;
  --link: #1c7ed4;
  --link-hover: #3492e5;
  --link-active: #176bb5;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: var(--base-font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  padding: 1rem;
}
.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1em 0;
}
.bx {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 8px;
}
a {
  color: var(--link);
  border-bottom: 1px dotted rgba(0, 0, 139, 0.768);
  text-decoration: none;
}
a:hover {
  background-color: #cbe0f2;
  color: var(--link-hover);
}
a:active {
  color: var(--link-active);
}
nav {
  background: var(--bg-2);
  border-radius: var(--border-radius);
  z-index: 2;
  gap: 1em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}
nav a[aria-current="true"] {
  border-bottom: 2px solid;
}
.error{
  color: red;
}
